@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.App, .root{
  width: 100%;
  height: 100%;
}
*{box-sizing: border-box;}
body{
  background:
linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
background-color: #232927;
background-size: 100px 100px; 


font-family: 'DotGothic16', sans-serif;
  overflow: hidden;
}

.screen{
  width: 48vw;
  height: 15vw;
  background-color: rgb(145, 156, 152);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  margin-right: auto;
  margin-left:auto;
  position: relative;
  margin-top: 3.25vw;
  clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
  border-radius: 2vw;
  padding-left: 2vw;
  padding-top: 1vw;
}

.d-none{
  display: none;
}

.word{
  border-radius: 0.5vw;
  padding:0.5vw;
  width: 6vw;
  margin: .1vw;
  font-size: 1vw;
  text-align: center;
  font-weight: 700;
}

.computer{
  display: flex;
  flex-direction: column;
  position:relative;
  margin-top:2vw;
  align-items: center;
  height: 100%;
}

.computer-screen{
  width: 55vw;
  height: 25vw;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(128, 131, 151);
  border-top:  5vw solid rgb(11, 13, 31);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 2vw;
}

.computer::after{
  content: attr(title);
  width: 40vw;
  left:calc(50% - 20vw);
  margin-top: 0.7vw;
  box-shadow: 0 0 20px 5px red;
  position:absolute;
  font-size: 2.5vw;
  background-color: rgb(126, 78, 78);;
  text-align: center;
  color:white;
  animation: pulse 5s infinite;
  letter-spacing: 1vw;
}

.computer::before{
  content:'';
  width: 80vw;
  height: 100vw;
  margin-top: 34.4vw;
  position:absolute;
  font-size: 3vw;
  background-color: rgb(83, 86, 109);
  text-align: center;
  color:white;
  animation: pulse 5s infinite;
  border-radius: 0.3vw;
}

.text-input{
  margin-left: 0vw;
  width: 30vw;
  height: 4vw;
  margin-top: -9vw;
  margin-left: -24vw;
  outline: none;
  padding-left: 5vw;
  font-size: 2vw;
  z-index: 999;
  clip-path: polygon(16% 0%, 90% 0%, 100% 100%, 0% 100%);
  font-family: 'DotGothic16', sans-serif;
  font-style: italic;
  background-color: rgb(47, 53, 96);
  color:white
}

.reset-button{
  font-family: 'DotGothic16', sans-serif;
  display: grid;
  place-items: center;
  
  width: 10vw;
  height: 4vw;
  margin-top: -4vw;
  margin-left: 13vw;
  outline: none;
  font-size: 1vw;
  z-index: 999;  
  clip-path: polygon(0 0, 60% 0, 100% 100%, 30% 100%);
  background-color: rgb(104, 36, 36);
  color:#aaa;
  cursor:pointer
}

.language-button{
  font-family: 'DotGothic16', sans-serif;
  display: grid;
  place-items: center;
  width: 10vw;
  height: 4vw;
  margin-top: -4vw;
  margin-left: 30vw;
  outline: none;
  font-size: 1vw;
  z-index: 999;  
  clip-path: polygon(0 0, 55% 0, 100% 100%, 40% 100%);
  background-color: rgb(104, 36, 36);
  color:#aaa;
  cursor:pointer
}

.wpm{
  font-size: 5vw;
    color: rgb(26 84 26)!important;
    align-self: center;
    justify-content: center;
    margin-top: 3vw;
    margin-left: 3vw;
}

.result-inner{
  display: flex;
  font-size: 1.5vw;
 }

 .correct-result{
  color:rgb(26 84 26)!important;
 }

 .wrong-result{
  color:rgb(84 26 26)!important;
 }

.reset-button:active ,.language-button:active{ 
  padding-top: 1vw; 
    opacity: 1;
    transition: 0s
}

.other-results{
  margin-right: auto;
    align-self: center;
    font-weight: 700;
}

hr{
  margin-right: auto;
  margin-left: auto;
  color:black!important;
}

.computer-screen::before{
  width: 50vw;
  height: 25vw;
  background-color: rgb(0, 0, 0);
  margin: 2.5vw;
  content:'';
  position:absolute;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  border-radius: 2vw;
  box-shadow: 0px 0px 10px 0px black;
}

.computer-controls{
  width: 80vw;
  height: 10.5vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1vw;
  background-color: rgb(118, 122, 152);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  border-bottom: rgb(13, 15, 29) 100vh;
}

.computer-controls::before{
  content:'';
  position: absolute;
  width: 70vw;
  height: 8.5vw;
  margin-left: calc(25% - 20vw);
  background-color: rgb(118, 122, 152);
  margin-top: .3vw;
  clip-path: polygon(17% 0%, 83% 0%, 100% 100%, 0% 100%);
}


.element {
  width: 100%;
  height: 100%;
  animation: pulse 10s infinite;
}

.current{
  background-color: rgb(203, 203, 210)!important;
}

.correct{
  background-color: rgb(48, 164, 48)!important;
}

.wrong{
  background-color: rgb(164, 48, 48)!important;
}

@keyframes pulse {
  0% {
    color: white;
  }
  50% {
    color: #FF4136;
  }
  100%{
    color: white;
  }
}
